<app-navbar></app-navbar>
<h1>Bienvenue sur notre plateforme de recrutement !</h1>

<div class="button-container">
  <button (click)="showCreateProjectForm = true" class="btn btn-primary">Créer un nouveau projet</button>
</div>
<div *ngIf="showCreateProjectForm">
  <app-creer-nv-projet (close)="showCreateProjectForm = false"></app-creer-nv-projet>
</div>
<div class="container">
  <h2>Voici les projets en cours</h2>
  <div *ngFor="let project of projects" class="card">
    <div class="card-header">
      {{ project.titre }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ project.theme }}</h5>
      <p class="card-text">{{ project.description }}</p>
      <p class="card-text">Participants nécessaires : {{ project.nbparticipants }}</p>
      <button (click)="joinProject(project.idprojets)" class="btn btn-success">Participer</button>
      <button class="btn btn-primary" (click)="goToProjectDetails(project.idprojets)">Détails</button>

    </div>
  </div>
</div>

<app-footer></app-footer>
