<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      Connexion
    </div>
    <div class="card-body">
      <form>


        <div class="mb-3">
          <label for="username" class="form-label">Nom d'utilisateur</label>
          <input type="text" [(ngModel)]="nomuser" class="form-control" id="username" name="username">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" [(ngModel)]="mdp" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Se connecter</button>
      </form>
    </div>
  </div>
</div>
<!---balise affichage---->
<!-----<h4 *ngIf="" class="alert alert-success mt-4">salut</h4>-->

