<div class="row">
  <!-- Premier bloc de projet -->
  <div class="col-md-4">
    <div class="project-block">
      <h3>Titre du Projet 1</h3>
      <p>Thème du Projet 1</p>
      <p>Description du Projet 1</p>
    </div>
  </div>

  <!-- Deuxième bloc de projet -->
  <div class="col-md-4">
    <div class="project-block">
      <h3>Titre du Projet 2</h3>
      <p>Thème du Projet 2</p>
      <p>Description du Projet 2</p>
    </div>
  </div>

  <!-- Troisième bloc de projet -->
  <div class="col-md-4">
    <div class="project-block">
      <h3>Titre du Projet 3</h3>
      <p>Thème du Projet 3</p>
      <p>Description du Projet 3</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="project-block">
      <h3>Titre du Projet 4</h3>
      <p>Thème du Projet 4</p>
      <p>Description du Projet 4</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="project-block">
      <h3>Titre du Projet 5</h3>
      <p>Thème du Projet 5</p>
      <p>Description du Projet 5</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="project-block">
      <h3>Titre du Projet 6</h3>
      <p>Thème du Projet 6</p>
      <p>Description du Projet 6</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="project-block">
      <h3>Titre du Projet 7</h3>
      <p>Thème du Projet 7</p>
      <p>Description du Projet 7</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="project-block">
      <h3>Titre du Projet 8</h3>
      <p>Thème du Projet 8</p>
      <p>Description du Projet 8</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="project-block">
      <h3>Titre du Projet 9</h3>
      <p>Thème du Projet 9</p>
      <p>Description du Projet 9</p>
    </div>
  </div>
  <!-- Ajoutez plus de blocs de projet au besoin -->
</div>
